<%- include('includes/head.ejs') %>

<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <form action="/add-user" method="POST">
            <div>
                <label for="user">User name</label>
                <input type="text" name="user" id="user">
            </div>

            <button type="submit">Add User</button>
        </form>
    </main>
    <%- include('includes/end.ejs') %>